
body {
  font-family: Helvetica, serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.chat-container {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#chat-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#user-input {
  flex-grow: 1;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px;
}

#submitBtn {
  background-color: #9cd8ff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
}

#submitBtn:hover {
  background-color: #bbe4ff;
}

#result {
  border: 1px solid #edecec;
  border-radius: 5px;
  padding: 20px;
  background-color: #f8f8f8;
  min-height: 100px;
  overflow-wrap: break-word;
}
